/* EXTERNAL */
/* Modern Normalize CSS */
/* https://github.com/sindresorhus/modern-normalize */
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@font-face {
  font-family: Montserrat;
  src: url(../../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: ChakraPetch;
  src: url(../../../fonts/ChakraPetch-Regular.ttf);
}
@font-face {
  font-family: ChakraPetch;
  src: url(../../../fonts/ChakraPetch-Bold.ttf);
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
  font-size: 1em;
}
* h1 {
  margin: 0px !important;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

button, main .login .login__box .login__box__button, main .login .login__box .login__box__signup .login__box__signup__button, header section.user .user__login button, header section.user .user__login main .login .login__box .login__box__button, main .login .login__box header section.user .user__login .login__box__button {
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}

input, main .login .login__box div input {
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}

a, footer .social .social__item .social__item__link, header .logo, header .nav .nav__link, header .nav .nav__link-selected, header section.user .user__lang div .user__lang__option, header section.user .user__lang div .user__lang__option-selected {
  text-decoration: none;
  color: inherit;
}

li, footer .social .social__item {
  list-style: none;
}

hr, footer hr {
  border-radius: 10px;
  border-color: transparent;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #358aa2;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 80px;
}
header .logo,
header .user {
  padding: 0px 20px 0px 10px;
}
header .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .logo img {
  height: 80px;
}
header .logo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10px;
}
header .logo div h1 {
  font-family: "ChakraPetch";
  font-size: 2em;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0px;
}
header .logo div h2 {
  font-size: 0.8em;
  margin: 0px;
}
header .nav {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  align-items: center;
  height: 100%;
}
header .nav .nav__link, header .nav .nav__link-selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(#ffffff, #ffffff);
  transform: rotate(180deg);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 500ms;
}
header .nav .nav__link-selected {
  border-top: solid 5px #ffffff;
  font-weight: bolder;
}
header .nav .nav__link:hover, header .nav .nav__link-selected:hover {
  background-size: 100% 100%;
  color: #358aa2;
}
header .nav .nav__link span, header .nav .nav__link-selected span {
  transform: rotate(180deg);
}
header section.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header section.user * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header section.user .user__lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 0px 10px;
}
header section.user .user__lang div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  height: 60px;
  transition: all 300ms;
}
header section.user .user__lang div .user__lang__option, header section.user .user__lang div .user__lang__option-selected {
  display: none;
  font-size: 0.7em;
  width: 90%;
  margin: 7px;
}
header section.user .user__lang div .user__lang__option-selected {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header section.user .user__lang div .user__lang__option *, header section.user .user__lang div .user__lang__option-selected * {
  margin: 5px;
}
header section.user .user__lang div .user__lang__option img, header section.user .user__lang div .user__lang__option-selected img {
  border-radius: 5px;
  width: 3em;
}
header section.user .user__lang div:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-color: black;
  height: 428px;
  overflow: visible;
}
header section.user .user__lang div:hover .user__lang__option, header section.user .user__lang div:hover .user__lang__option-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #358aa2;
}
header section.user .user__lang div:hover .user__lang__option:hover, header section.user .user__lang div:hover .user__lang__option-selected:hover {
  background-color: #143640;
  border-radius: 5px;
}
header section.user .user__lang div:hover .user__lang__option:hover h3, header section.user .user__lang div:hover .user__lang__option-selected:hover h3 {
  color: #97BFC9;
}
header section.user .user__login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header section.user .user__login * {
  transition: 500ms;
}
header section.user .user__login img {
  height: 1.8em;
  margin: 10px;
  filter: invert(100%);
}
header section.user .user__login button, header section.user .user__login main .login .login__box .login__box__button, main .login .login__box header section.user .user__login .login__box__button, header section.user .user__login main .login .login__box .login__box__signup .login__box__signup__button, main .login .login__box .login__box__signup header section.user .user__login .login__box__signup__button, header section.user .user__login button {
  background-color: #ffffff;
  color: #358aa2;
  font-size: 0.8em;
}
header section.user .user__login:hover {
  cursor: pointer;
}
header section.user .user__login:hover img {
  filter: invert(0%);
}
header section.user .user__login:hover button, header section.user .user__login:hover main .login .login__box .login__box__button, main .login .login__box header section.user .user__login:hover .login__box__button, header section.user .user__login:hover main .login .login__box .login__box__signup .login__box__signup__button, main .login .login__box .login__box__signup header section.user .user__login:hover .login__box__signup__button {
  background-color: #143640;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #143640;
  margin-top: 120px;
  padding: 20px;
}
footer .legal {
  text-align: center;
  font-size: 0.7em;
  max-width: 800px;
  margin: 10px 20px;
}
footer .legal .superscript {
  font-variant: super;
}
footer hr {
  width: 500px;
  height: 1px;
  margin: 10px 20px;
  background-color: #97BFC9;
}
footer .social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  width: 120px;
  margin: 10px 20px;
}
footer .social .social__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background-color: #97BFC9;
}
footer .social .social__item .social__item__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: brightness(0) invert(1);
}
footer .social .social__item .social__item__link img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55%;
  font-size: 0.7em;
}
footer h3 {
  margin: 10px 20px;
}

#loading__screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}
#loading__screen #loading__screen__circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 30px solid #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: rotating;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#loading__screen #loading__screen__circle #loading__screen__circle__nut {
  width: 35px;
  height: 35px;
  background-color: #bbaa91;
  border-radius: 50%;
  border: 6px solid #b8313e;
  z-index: 0;
}
#loading__screen #loading__screen__circle #loading__screen__circle__rim {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 10px solid #444;
  position: absolute;
  z-index: -1;
}
#loading__screen #loading__screen__circle .loading__screen__circle__support {
  width: 50%;
  height: 9px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to bottom right, #444, black);
  border-color: #444;
  z-index: -1;
}
#loading__screen #loading__screen__circle .loading__screen__circle__support:nth-child(1) {
  transform: rotate(90deg) translate(-40px, -35px);
}
#loading__screen #loading__screen__circle .loading__screen__circle__support:nth-child(2) {
  transform: rotate(141deg) translate(-68px, -22px);
}
#loading__screen #loading__screen__circle .loading__screen__circle__support:nth-child(3) {
  transform: rotate(192deg) translate(-76px, 7px);
}
#loading__screen #loading__screen__circle .loading__screen__circle__support:nth-child(4) {
  transform: rotate(243deg) translate(-59px, 30px);
}
#loading__screen #loading__screen__circle .loading__screen__circle__support:nth-child(5) {
  transform: rotate(294deg) translate(-29px, 31px);
}
#loading__screen #loading__screen__circle .loading__screen__circle__support:nth-child(6) {
  transform: rotate(345deg) translate(-12px, 9px);
}
#loading__screen #loading__screen__circle .loading__screen__circle__support:nth-child(7) {
  transform: rotate(396deg) translate(-15px, -20px);
}
#loading__screen #loading__screen__circle #loading__screen__circle__engraving {
  position: absolute;
  width: 181px;
  height: 181px;
  border-radius: 50%;
  border: solid 10px #0378e7;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
#loading__screen #loading__screen__circle #loading__screen__circle__engraving2 {
  position: absolute;
  width: 181px;
  height: 181px;
  border-radius: 50%;
  border: dotted 2px yellow;
  border-right-color: transparent;
  border-left-color: transparent;
}
#loading__screen #loading__screen__circle #loading__screen__circle__engraving3 {
  position: absolute;
  width: 169px;
  height: 169px;
  border-radius: 50%;
  border: dashed 2px white;
  border-right-color: transparent;
  border-left-color: transparent;
}
#loading__screen #loading__screen__text {
  margin-top: 50px;
  width: 322px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#loading__screen #loading__screen__text #loading__screen__text__dots::after {
  content: "...";
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
main {
  position: relative;
  overflow: hidden;
  min-height: 1200px;
}
main .login {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  height: 100%;
}
main .login .login__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  border-radius: 10px;
  background-color: #97BFC9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px 40px;
  margin: 40px calc(50vw - 380px / 2);
  transition: all 500ms;
}
main .login .login__box * {
  margin: 10px 0;
}
main .login .login__box .login__box__heading {
  font-size: 2em;
  font-family: "ChakraPetch";
  font-weight: bolder;
  color: #ffffff;
  margin-bottom: 20px !important;
}
main .login .login__box div {
  position: relative;
}
main .login .login__box div label {
  width: 100%;
  font-size: 0.8em;
  font-family: "Montserrat";
  color: #ffffff;
  margin-bottom: 0px;
}
main .login .login__box div .login__box__show-password {
  position: absolute;
  right: 5px;
  top: 33px;
  width: 30px;
  height: 30px;
  margin: 0px;
  /* https://stackoverflow.com/questions/7775594/css-list-style-image-size */
  background-image: url(../../../img/interface/eye-off.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px;
}
main .login .login__box div .just-validate-error-label {
  font-size: 0.8em;
  margin: 0px;
}
main .login .login__box div input {
  background-color: #ffffff;
  width: 100%;
}
main .login .login__box div input[type=date] {
  text-align: center;
}
main .login .login__box div input:hover {
  color: #143640;
  cursor: text;
}
main .login .login__box div input:focus {
  color: #143640;
  border-color: #358aa2;
}
main .login .login__box .login__box__button {
  background-color: #358aa2;
  color: #ffffff;
  transition: all 500ms;
}
main .login .login__box .login__box__button:hover {
  background-color: #143640;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
main .login .login__box .login__box__restore {
  font-family: "Montserrat";
  color: #ffffff;
  margin-top: 20px;
}
main .login .login__box .login__box__restore .login__box__restore__heading {
  font-size: 1em;
  margin: 0px;
  padding: 10px 0px;
  text-decoration: none;
  color: black;
  /* https://stackoverflow.com/questions/7775594/css-list-style-image-size */
  background-image: url(../../../img/interface/external.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 22px;
  list-style: none;
  filter: invert(1);
}
main .login .login__box .login__box__restore .login__box__restore__paragraph {
  font-size: 0.7em;
  text-align: justify;
}
main .login .login__box .login__box__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
main .login .login__box .login__box__signup .login__box__signup__heading {
  font-family: "ChakraPetch";
  font-weight: bolder;
  font-size: 1.25em;
  color: #ffffff;
  width: 100%;
}
main .login .login__box .login__box__signup .login__box__signup__paragraph {
  font-size: 0.8em;
  text-align: justify;
}
main .login .login__box .login__box__signup .login__box__signup__button {
  background-color: #358aa2;
  color: #ffffff;
  transition: all 500ms;
}
main .login .login__box .login__box__signup .login__box__signup__button:hover {
  background-color: #143640;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

footer {
  margin-top: 0px;
}/*# sourceMappingURL=login.css.map */